/* reset stuff */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  font-family: "IRANSans", sans-serif;
  background-color: #ebebeb;
}
/* General styles */
a {
  color: #000;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* header styles */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55px;
  background-color: #fff;
}

.navbar {
  max-width: 950px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  order: 1;
}

.logo img {
  height: inherit;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
li {
  margin-right: 1rem;
  list-style: none;
  font-size: 0.8rem;
}
.first-li {
  margin-right: 0;
}

/* sidebar style */
.sidebar {
  width: 45%;
  height: 100vh;
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.5s;
}
/* show sidebar */
.show-sidebar {
  transform: translateX(0);
}
.close-btn {
  font-size: 2rem;
  text-align: left;
  margin-left: 1rem;
  margin: 0.2rem 0 0 1rem;
  color: #535353;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}
.sidebar-menu a {
  padding-right: 1rem;
  margin-bottom: 1rem;
  color: #535353;
  font-size: 1.05rem;
}

/* main styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}
.title {
  max-width: 950px;
  width: 100%;
  padding: 0 1.1rem;
}
.foods {
  display: flex;
  justify-content: center;
  width: 100%;
}
.food {
  width: 14.375rem;
  height: 350px;
  background: white;
  border-radius: 5px;
  position: relative;
  margin: 0 0.3rem 1rem;
  padding-bottom: 2rem;
}

.food-image {
  width: 100%;
  height: 50%;
  position: relative;
}
.food-image img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: cover;
  object-position: 0 0;
}
.food-two,
.food-four {
  object-fit: fill !important;
}
.food-three {
  object-position: -1rem 0;
}
.food-description {
  position: relative;
  padding: 0.5rem 0.3rem;
}

.food-description::after {
  content: "رایگان";
  position: absolute;
  top: -15px;
  left: 5px;
  background-color: #428d1f;
  color: #fff;
  border-radius: 2px;
  padding: 0.15rem 0.25rem;
  font-size: 0.9rem;
}
.food-title {
  font-size: 1rem;
  color: #505050;
}
.description {
  line-height: 1.2;
  font-size: 0.95rem;
  color: #686868;
  height: 4rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.7rem;
  margin-top: 0.5rem;
}
.fas {
  color: #686868;
  font-size: 0.7rem;
  display: flex;
  align-items: baseline;
  margin-left: 0.5rem;
}
.fa-eye {
  order: 1;
}
.fa-bars {
  font-size: 1.2rem;
  color: #8a2be2;
  cursor: pointer;
  display: none;
}

.inf {
  font-family: "IRANSans", sans-serif;
  order: -1;
  margin-left: 0.3rem;
  position: relative;
  top: -1px;
}
.writer {
  margin: 0.3rem 0.5rem;
  display: flex;
}
.writer-image img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.writer-name {
  margin-right: 1rem;
  color: #686868;
  font-size: 0.8rem;
  font-weight: 600;
}
a:hover,
.close-btn:hover {
  color: #ea2027;
}

@media screen and (max-width: 875px) and (min-width: 768px) {
  main {
    width: 100%;
  }
  .foods {
    width: 100%;
    padding: 0 0.5rem;
  }
  .menu-items {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    padding: 0 0.756rem;
  }
  .fa-bars {
    display: block;
  }
}

/* reponsive style */
@media screen and (max-width: 766px) {
  .foods {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .menu-items {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .foods {
    padding: 0 1rem;
  }
  .food {
    flex-grow: 1;
  }
  .navbar {
    padding: 0 0.756rem;
  }
  .food-one {
    object-position: 0 -0.5rem;
  }
}

@media screen and (min-width: 751px) and (max-width: 766px) {
  .foods {
    flex-wrap: nowrap;
  }
}

@font-face {
  font-family: "IRANSans";
  src: url(./assets/IRANSans.ttf);
}
